# DAY 2-1ST PYTHON ASSIGNMENT

In [2]:
#Question 1
#Try 5 Different functions of the String in Python.
#=>
name="Rishu Rajan"

print(name.capitalize())
print(name.encode())
print(name.islower())
print(name.isprintable())
print(name.istitle())
print(name.split())
print(name.title())

Rishu rajan
b'Rishu Rajan'
False
True
True
['Rishu', 'Rajan']
Rishu Rajan

In [4]:
#Question 2
#Try 5 Different functions of the List object in Python
#=>
list1=['Rishu',50,63.2,True,78,90.6]
list1.append('Rajan')
print(list1)
list1.pop(2)
print(list1)
print(list1.copy())
list1.reverse()
print(list1)
list1.remove(78)
print(list1)

['Rishu', 50, 63.2, True, 78, 90.6, 'Rajan']
['Rishu', 50, True, 78, 90.6, 'Rajan']
['Rishu', 50, True, 78, 90.6, 'Rajan']
['Rajan', 90.6, 78, True, 50, 'Rishu']
['Rajan', 90.6, True, 50, 'Rishu']

In [5]:
#Question 3
#Experiment with at least 5 default functions of Dictionary
#=>
dict={'Name':'Rishu Rajan','Age':21,'Salary':100000,'DOB':6-3-1999}
print(dict.get('Name'))
print(dict.keys())
print(dict.copy())
dict.update({'Profession':'Coder'})
print(dict)
print(dict.items())
dict.popitem()
print(dict)

Rishu Rajan
dict_keys(['Name', 'Age', 'Salary', 'DOB'])
{'Name': 'Rishu Rajan', 'Age': 21, 'Salary': 100000, 'DOB': -1996}
{'Name': 'Rishu Rajan', 'Age': 21, 'Salary': 100000, 'DOB': -1996, 'Profession': 'Coder'}
dict_items([('Name', 'Rishu Rajan'), ('Age', 21), ('Salary', 100000), ('DOB', -1996), ('Profession', 'Coder')])
{'Name': 'Rishu Rajan', 'Age': 21, 'Salary': 100000, 'DOB': -1996}